.App {
  text-align: center;
}

img {
  width: auto;
}

.container {
  display: inline-flex;
  flex-wrap: wrap;
  gap: 12px;
}

.countries-info {
  width: 20%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-around;
  margin: 1rem auto;
  border: 3px solid gray;
  border-radius: 6px;
  cursor: pointer;
}
.countries-info img {
  width: 100%;
  margin-bottom: 1rem;
}

.countries-info p,
.countries-info h3 {
  text-align: justify;
  align-items: flex-start;
  margin-left: 2rem;
}

.country-view {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.back-btn {
  width: 10%;
}

.country-card {
  width: 100%;
  margin: 1.5rem auto;
  display: flex;
  justify-content: space-between;
}
.flag {
  width: 40%;
}

.flag img {
  width: 100%;
  margin-top: 3.5rem;
  border: 10px solid grey;
  border-radius: 1.5rem;
}

.detail {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.search-box {
  display: inline-block;
  font-size: 1.5rem;
  text-align: center;
}
@media only screen and (max-width: 994px) {
  .countries-info {
    width: 30%;
  }
  .search-box {
    margin: 1rem auto;
  }
}

@media only screen and (max-width: 778px) {
  .countries-info {
    width: 50%;
  }
  .search-box {
    margin: 1rem auto;
  }
}
