.App {
  text-align: center;
}

img{
  width: auto;
}

.container {
  display: inline-flex;
  flex-wrap: wrap;
  gap: 12px;
}

.countries-info {
  width: 20%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items:flex-start;
  justify-content:space-around;
  margin-bottom: 1.5rem;
  margin: 1rem auto;
  border: 3px solid gray;
  border-radius: 6px;
  cursor: pointer;
}
.countries-info img {
  width: 100%;
  margin-bottom: 1rem;
}

.countries-info p,
.countries-info h4 {
  text-align: justify;
  align-items: flex-start;
  margin-left: 2rem;
}
